Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers==4.3.1
Pillow
channels==4.0.0
daphne==4.0.0
channels-redis==4.1.0
python-dotenv==1.0.0
python-socketio
python-socketio[asyncio]
aiohttp